.list {
  width: auto;
  height: 250px;
}

.center {
  text-align: center;
}

.displayInline {
  display: inline-block;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.marginTop {
  margin-top: 4rem;
}

.margin {
  margin: 0.5rem;
}

.btn:hover {
  background-color: white;
}
